<div class="dashboard-container">
  <aside class="sidebar">
    <div class="profile">
      <img src="https://www.gravatar.com/avatar?d=identicon" alt="Profile" />
      <p class="role">{{ userRole }}</p>
      <p class="text-sm text-gray-500">{{ userEmail }}</p>
    </div>
    <nav>
      <ul>
        <li><a routerLink="employees" routerLinkActive="active">Manage Employees</a></li>
        <li><a routerLink="approval" routerLinkActive="active">Approve & Reject Leave Request</a></li>
        <li><a routerLink="leave-requests" routerLinkActive="active">Leave Balances</a></li>
        <li><a routerLink="reports" routerLinkActive="active">Reports</a></li>
        <li><a routerLink="public-holiday" routerLinkActive="active">Public Holiday</a></li>
        <li><a routerLink="team-calendar" routerLinkActive="active">Team Calendar</a></li>
        <li><a routerLink="departments" routerLinkActive="active">Departments</a></li>
        <li><a routerLink="leave-types" routerLinkActive="active">Leave Types</a></li>
      </ul>
      
    </nav>
    <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
  </aside>
  <main class="main-content">
    <h1>Leave Management System - Admin Dashboard</h1>
    <router-outlet></router-outlet>
  </main>
</div>